* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef3cf;
    justify-content: center;
    text-align: center;
    display: flex;
   
    
}
img {
  margin-top: 10px;
  height: 89px;
  width: 137px;
}
.head{
  background-color: #500663;
  border-radius: 50px;
  color: white;
}
.container{
    
  height: 282px;
  width: 649px;
    margin-top: 100px;
    padding: 20px;
   text-align: center;
   justify-content: center;
   background-color: #ecfab9;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.head{
    margin-top: 10px;
    margin-bottom: 10px;
}
.entry{
    margin-top: 10px;
}
#input,.entry{
    /* width: 40%; */
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    font-size: 15px
}

#btn{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
#Guess{
    margin-top: 10px;
}
.Wrong{
  margin-top: 10px;
    color: #ff0000;
}
.footer{
  margin-top: 15px;
}